<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.green.greengramver1.feed.FeedMapper">
    <insert id="insFeed" useGeneratedKeys="true" keyProperty="feedId"> <!-- useGeneratedKeys="true" 가 의미하는건 pk값을 가져올건지 안가져올건지 정해주는것,
     기본적으로 false 로 들어가있다.-->
        INSERT INTO feed
        SET  writer_user_id=#{userId}
        ,contents=#{contents}
        ,location=#{location}
    </insert>

    <insert id="insFeedPic">
        INSERT INTO feed_pics
        SET  feed_id=#{feedId}
        ,pic=#{pic}
    </insert>
    
    <select id="selFeedList">
        SELECT  B.feed_id AS feedId, A.user_id AS writerId, A.nick_name AS nickName,
        B.contents, B.location, B.created_at AS createdAt,
        IF(A.nick_name IS NULL, A.uid, A.nick_name) AS writerNm,
        A.pic AS writerPic
        FROM USER A
        INNER JOIN feed B
        ON B.writer_user_id = A.user_id
        ORDER BY B.feed_id DESC
        LIMIT #{startIdx}, #{size}
    </select>

    <!-- ///////////////////////////////////feed pics ///////////////////////////////// -->

    <select id="selFeedPicList">
        SELECT pic
        FROM feed_pics
        WHERE feed_id = #{feedId}
    </select>

</mapper>
